<ul class="nav--actions">
    {% if request.user.is_authenticated %}
    <li class="logged-user">
      Witaj {{ request.user.first_name }}
      <ul class="dropdown">
        <li><a href="#">Profil</a></li>
        <li><a href="#">Moje zbiórki</a></li>
        <li><a href="#">Ustawienia</a></li>
        <li><a href="#">Wyloguj</a></li>
      </ul>
    </li>
    {% else %}
    <li><a href="{% url 'login' %}">Zaloguj</a></li>
    <li class="highlighted"><a href="{% url 'register' %}">Załóż konto</a></li>
    {% endif %}
</ul>